---
import Content from '../../components/Content.astro';
import BlogTitle from '../../components/domains/blog/BlogTitle.astro';
import Layout from '../../layouts/Layout.astro';

const isDev = import.meta.env.DEV;

const posts = (await Astro.glob('./*.md')).filter(p => !p.frontmatter.draft || isDev);

posts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());

---

<Layout title="ブログ">
    <Content>
        <h1>るちーかの長いノート</h1>
        <p>
            普段Misskeyを使いすぎてブログというものを書かなすぎる（アドカレ置き場になっている）んですが、オタクというのは時折長く語りたくなるものなので……そんなものを置く場所です。
        </p>
        <p>
            暇な方、るちーかのファン、あるいはそれら以外全ての方、どうぞご覧ください。
        </p>
        {isDev ? <aside style="color: var(--dimmed)">（開発ビルドのため、下書き記事も表示しています）</aside> : null}
        {posts.map(p => <BlogTitle path={p.url} frontmatter={p.frontmatter} />)}
    </Content>
</Layout>
