---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Content from '../../components/Content.astro';
import BlogTitle from '../../components/domains/blog/BlogTitle.astro';
import Layout from '../../layouts/Layout.astro';

const isDev = import.meta.env.DEV;

const allPosts: CollectionEntry<'blog'>[] = await getCollection('blog', ({ data }) => {
    return isDev || !data.draft;
});

const posts = allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="ブログ">
    <Content>
        <header>
            <h1>るちーかの長いノート</h1>
            <p>
                普段Misskeyを使いすぎてブログというものを書かなすぎる（アドカレ置き場になっている）んですが、オタクというのは時折長く語りたくなるものなので……そんなものを置く場所です。
            </p>
            <p>
                暇な方、るちーかのファン、あるいはそれら以外全ての方、どうぞご覧ください。
            </p>
            {isDev ? <aside style="color: var(--dimmed)">（開発ビルドのため、下書き記事も表示しています）</aside> : null}
        </header>
        <div class="article-list">
            {posts.map(p => <BlogTitle path={`/blog/${p.slug}`} frontmatter={p.data} />)}
        </div>
    </Content>
</Layout>

<style lang="scss">
    header {
        margin-bottom: 2rem;
    }

    .article-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
</style>