---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import Guideline from '../components/domains/avatar/guideline.md';

---

<Layout title="アバター">
    <div class="about">
        <div class="inner">
            <img alt="かわいいるちかちゃん"/>
            <section>
                <h2>海老瀬 瑠愛 (えびせ るちか)</h2>
                <p>仮想世界に棲むエビ人間。独裁国家「シュリンピア帝国」を治めている。</p>
                <p>頑張れば割と見た目を変えられる能力を持つ。猫耳は魔力で生やしたので、割と他の耳にもできる。しかし、メガネは外せない。</p>
                <dl>
                    <dt>年齢</dt>
                    <dd>25歳</dd>
                    <dt>身長</dt>
                    <dd>およそ165cm</dd>
                    <dt>イメージカラー</dt>
                    <dd style="color: #B93E43">#B93E43</dd>
                    <dt>鳴き声</dt>
                    <dd>しゅりんぷっぷー</dd>
                </dl>
            </section>
        </div>
    </div>
    <Article id="guideline" heading="#LuticaArt 募集中！">
        <p>私のキャラデザを用いたアートを募集しています。制作時は、本ページのガイドラインに従っていただければ幸いです。</p>
        <a href="/gallery">ギャラリーを見る</a>
        <Guideline />
    </Article>
</Layout>

<style lang="scss">
.about {
    margin-top: 96px;

    .inner {
        display: flex;
        width: 100%;
        margin: 0 auto;
		max-width: 1280px;
        gap: 192px;

        > img {
            width: auto;
            height: 500px;
            object-fit: contain;
            object-position: left;
        }

        > section {
            flex: 1;
        }

        dl {
            display: flex;
            flex-wrap: wrap;
            dt {
                width: 40%;
                font-weight: bold;
            }
            dd {
                margin: 0;
                width: 60%;
            }
        }

        @media screen and (max-width: 960px) {
            display: block;
            padding: 16px;

            > img {
                
                object-fit: contain;
                flex: none;
            }
        }
    }
}
</style>
