---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout>
	<main class="root">
		<div class="card">
			<h1>るちーか</h1>
			<p class="description">ものづくりとゲームが好きです。</p>
			<div class="sns">
				<a href="https://mk.lutic.at/@lutica" style="--brand-bg: #A1CA03; --brand-fg: white" class="sns-button" target="_blank" rel="noopener noreferrer">
					<Icon name="simple-icons:misskey" />
				</a>
				<a href="https://skeb.jp/@lutica" style="--brand-bg: #28837f" class="sns-button" target="_blank" rel="noopener noreferrer">
					<Icon name="skeb" />
				</a>
				<a href="https://x.com/lutica_f" class="sns-button" target="_blank" rel="noopener noreferrer">
					<Icon name="simple-icons:x" />
				</a>
				<a href="https://github.com/ebiselutica" class="sns-button" target="_blank" rel="noopener noreferrer">
					<Icon name="simple-icons:github" />
				</a>
				<a href="https://soundcloud.com/lutica_sc" style="--brand-bg: #FF5500; --brand-fg: white" class="sns-button" target="_blank" rel="noopener noreferrer">
					<Icon name="simple-icons:soundcloud" />
				</a>
			</div>
		</div>
		
		<div class="top-menu">
			<a href="/about" class="menu-item">
				<h2 class="title">About</h2>
				<p>もっとくわしく自己紹介</p>
			</a>
			<a href="/blog" class="menu-item">
				<h2 class="title">Blog</h2>
				<p>ちょっと長いはなしをつらつら</p>
			</a>
			<a href="/works" class="menu-item">
				<h2 class="title">Works</h2>
				<p>いろんなモノ、つくってます</p>
			</a>
			<a href="/gyagu" class="menu-item">
				<h2 class="title">Gyagu*</h2>
				<p>このサイト、うるさいとｗ</p>
				<aside>
					*: gagではなく、gyaguです
				</aside>
			</a>
		</div>
	</main>
</Layout>

<style lang="scss">
$page-max-width: 500px;

.root {
	display: flex;
	margin-top: 128px;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.card {
		position: relative;
		width: 100%;
		max-width: $page-max-width;
		padding: 16px;
		margin: 16px;
		background-color: var(--content-bg);
		text-align: center;
		border-radius: 16px;
		color: var(--primary);
		h1 {
			margin-top: 16px;
			color: inherit;
			line-height: 1.2;
		}

		.description {
			margin-bottom: 20px;
		}

		.sns {
			display: flex;
			justify-content: center;
		}
		.sns-button {
			--brand-bg: white;
			--brand-fg: black;
			width: 48px;
			height: 48px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.4rem;
			border-radius: 999px;
			border-color: transparent;
			background-color: transparent;
			color: var(--foreground);

			transition: all 0.1s ease-out;

			&:hover {
				border-color: var(--brand-bg);
				background: var(--brand-bg);
				color: var(--brand-fg);
			}
		}
	}

	.top-menu {
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin-bottom: 16px;
		width: 100%;
		max-width: $page-max-width;
		margin: 16px;

		.menu-item {
			display: block;
			padding: 16px;
			border-radius: 8px;
			border: none;
			background-color: var(--menubar-link-bg);
			color: var(--foreground);
			text-decoration: none;
			transition: background-color 0.1s ease;

			h2 {
				margin: 0;
				border-bottom: none;
				font-size: 1.2rem;
				font-weight: normal;
				border-left: 2px solid var(--primary);
				padding-left: 8px;
				line-height: 1.5;
				&::before { display: none; }
			}

			p {
				margin: 12px 0 0 8px;
				font-size: 0.9rem;
				line-height: 1.2;
			}

			&:hover {
				background-color: var(--menubar-link-bg-active);
			}
		}
		aside {
			margin: 12px 0 0 8px;
			font-size: 0.8rem;
			opacity: 0.6;
		}
	}
}
</style>
