---
import Article from '../components/Article.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Works">
	<Article>
		<h1>Works</h1>
		<p>なんかいろいろつくってます。ちょっと紹介します。</p>
		<h2>ソフトウェア・サービス</h2>
		<p>ウェブサービスからデスクトップアプリまで、いろいろ作ってはいます。が、成果物はあまり多くない…</p>
		<div class="_vstack">
			<div class="_card">
				<h3>Promete</h3>
				<p>C# / .NET 向けに開発中の2Dゲームエンジンです。扱いやすいAPI、豊富な機能、クロスプラットフォーム、高い拡張性を備えます。</p>
				<p>わたしが使うために開発しているので癖がちょっとありますが、DXLibなどでちまちまゲーム画面を作っていた方に向いているかもしれません。</p>
				<p><a href="https://promete.app" target="_blank" rel="noopener noreferrer">公式サイト</a></p>
			</div>
			<div class="_card">
				<h3>Emoji Packer for Misskey</h3>
				<p>Misskeyの絵文字管理画面からインポートできるzipファイルを作成できるサイトです。お手持ちの画像をアップロードするだけで、Misskey用の絵文字パックが作れます。</p>
				<p><a href="https://emojipacker.lutic.at" target="_blank" rel="noopener noreferrer">emojipacker.lutic.at</a></p>
			</div>
			<div class="_card">
				<h3>グレートエビチリウォール</h3>
				<p>Cloudflare Workersで動作するMisskey APIおよびActivityPub inboxへのNGワードフィルターです。</p>
				<p>今はMisskey側にNGワード機能が実装されたのであまり使われていませんが、Misskeyサーバーへの特定ワードをつぶやくスパムが横行した際に急遽作成したものです。</p>
				<p><a href="https://github.com/shrimpia/great-ebichiri-wall" target="_blank" rel="noopener noreferrer">GitHub リポジトリ</a></p>
			</div>
		</div>

		<h2>音楽</h2>
		<p>趣味で音楽を作っています。ゲーム音楽系が多め。</p>
		<p>
			<a href="https://skeb.jp/@lutica" target="_blank" rel="noopener noreferrer">Skebで依頼を受け付けています！よかったら依頼ください。</a>
		</p>

		<div class="_vstack">
			<div class="_card">
				<h3>Alea Umbrae Subridentis</h3>
				<p>
					Skebでご依頼いただきました。エレクトロスウィングを意識しましたが…あまり慣れないジャンルなので苦労が多かった曲です。その分聴いててとても楽しい仕上がりになっている…といいな。
				</p>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2153586210&color=%23f24149&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lutica_sc" title="るちーか" target="_blank" style="color: #cccccc; text-decoration: none;">るちーか</a> · <a href="https://soundcloud.com/lutica_sc/alea-umbrae-subridentis" title="[Skeb] Alea Umbrae Subridentis" target="_blank" style="color: #cccccc; text-decoration: none;">[Skeb] Alea Umbrae Subridentis</a></div>
			</div>
	
			<div class="_card">
				<h3>天翔ける海老となれ'24 ～Imperial Immutability</h3>
				<p>
					わたしの自創作世界「シュリンピア」と、代理である「海老瀬 瑠愛」のテーマ曲です。
					魔法を使って空を飛び、世界を作り上げたという設定から、某シューティングゲームの影響を受けた曲調に仕上げています。
				</p>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A1949973407&color=%23f24149&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lutica_sc" title="るちーか" target="_blank" style="color: #cccccc; text-decoration: none;">るちーか</a> · <a href="https://soundcloud.com/lutica_sc/amaebi24" title="天翔ける海老となれ&#x27;24 ～Imperial Immutability" target="_blank" style="color: #cccccc; text-decoration: none;">天翔ける海老となれ&#x27;24 ～Imperial Immutability</a></div>
			</div>

			<div class="_card">
				<h3>たまご戦争</h3>
				<p>
					Skebでご依頼いただきました。可愛らしいキャラクターをテーマに「ステージボスとして登場したときの曲」という難しくも楽しいお題をいただき、がっつりはっちゃけ戦闘曲を作りました。
					こういうのが一番得意なジャンルかも。
				</p>
				<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A1936383167&color=%23f24149&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lutica_sc" title="るちーか" target="_blank" style="color: #cccccc; text-decoration: none;">るちーか</a> · <a href="https://soundcloud.com/lutica_sc/the_egg_wars" title="[Skeb] たまご戦争" target="_blank" style="color: #cccccc; text-decoration: none;">[Skeb] たまご戦争</a></div>
			</div>
		</div>
	</Article>
</Layout>

<style lang="scss">
h3 {
	margin-top: 0;
}
</style>
