---
import { SITE_TITLE } from "../scripts/const";

const {title} = Astro.props;
---

<div class="root">
    <div class="inner">
        <div class="left">
            <h1><a href="/">{SITE_TITLE} {title ? `| ${title}` : ''}</a></h1>
        </div>
        <div class="right">
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
    </div>
</div>


<style lang="scss">
.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--menubar-bg);
    color: var(--foreground);
    padding: 8px 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    z-index: 100;
    
    .inner {
        margin: 0 auto;
        display: flex;
        max-width: 1280px;
    }

    .right {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 16px;
        a {
            color: currentColor;
            text-decoration: none;
            background: var(--menubar-link-bg);
            padding: 8px 10px;
            line-height: 1;
            border-radius: 6px;
            transition: background 0.1s ease;

            &:hover {
                background: var(--menubar-link-bg-active);
            }
        }
    }

    h1 {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        a {
            color: currentColor;
            text-decoration: none;
        }
    }

    img {
        width: 48px;
        border-radius: 12px;
    }

    .right {
        margin-left: auto;
    }
}
</style>
