---
import Content from '../components/Content.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';

const { frontmatter } = Astro.props;

const dateString = isNaN((frontmatter.date as Date).getTime()) ? '不明' : format(frontmatter.date as Date, 'yyyy/MM/dd');
const isoString = isNaN((frontmatter.date as Date).getTime()) ? '' : (frontmatter.date as Date).toISOString();

---

<Layout title={frontmatter.title}>
    <Content>
        <a href="/blog">← ブログ一覧に戻る</a>
        <div class="blog">
            <header class="hero">
                <h1>{frontmatter.title}</h1>
                <aside style="color: var(--dimmed)">
                    <Icon name="tabler:calendar-event"/> <time datetime={isoString}>{dateString}</time>
                </aside>
            </header>
            <article class="_article-card">
                <slot />
            </article>
        </div>
    </Content>
</Layout>

<style lang="scss">
    .blog {
        header.hero {
            margin-bottom: 1rem;
            text-align: center;
            padding-bottom: 1rem;
        }

        img {
            max-width: 100%;
        }

        hr {
            margin: 3rem 0;
            border: none;
            border-bottom: 1px solid var(--dimmed);
        }
    }
</style>
