---
export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://koruri.chillout.chat/koruri.css" rel="stylesheet">
		<link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
		<title>{title ? `${title} | るちかどっとねっと` : 'るちかどっとねっと'}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
html {
	/* NOTE: http://colormind.io/bootstrap/ で作った */
	--foreground: #F4F7F3;
	--background: #211520;
	--primary: #B93E43;
	--primaryDark: #651622;
	--link: #b46fde;
	--dimmed: #8995A8;
	--warn: #ecbd15;
	--success: #6f8e4d;
	--danger: #f44336;

	background-color: var(--background);
	color: var(--foreground);
	font-family: "Koruri", sans-serif;
	font-size: 18px;
	line-height: 2;
}

::selection {
	background-color: var(--primary);
}

.hstack {
	display: flex;
	gap: 8px;
}

h1 {
	margin: 0;
}

h2 {
	margin-top: 32px;
	margin-bottom: 0px;
	border-bottom: 1px solid var(--dimmed);
}

 a {
	color: var(--link);
 }
</style>
